
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="class.scss">
  <title>HelloTechAcademy</title>
</head>
<body>

<div class="background">
    <div class="form-container">

    <div class="">
    <h1>Review Cources</h1>
  </div>
  
  <div class="cp_ipselect cp_sl03">
  <select required>
      <option value="" hidden>Cource Name</option>
      <option value="1">Electromagnetism</option>
      <option value="2">Quantum Mechanics</option>
      <option value="3">Thermodynamics</option>
      <option value="4">Circuit Theory</option>
  </select>
  </div>
  
  <div class="cp_ipselect cp_sl03">
  <select required>
      <option value="" hidden>Credit (Hard : 1~5 : Easy)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
  </select>
  </div>
  
  <div class="cp_ipselect cp_sl03">
  <select required>
      <option value="" hidden>Content (Boring : 1~5 : Interesting)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
  </select>
  </div>
  
  <div class="cp_ipselect cp_sl03">
  <select required>
      <option value="" hidden>Your Grade</option>
      <option value="1">F</option>
      <option value="2">C</option>
      <option value="3">B</option>
      <option value="4">A</option>
      <option value="5">A+</option>
      <option value="6">Others</option>
  </select>
  </div>
  
  <div class="cp_ipselect cp_sl03">
  <select required>
      <option value="" hidden>Necessity of attendance </option>
      <option value="1">Never</option>
      <option value="2">Sometimes</option>
      <option value="3">Every class</option>
  </select>
  </div>
  
  <div class="wrapper">
    <textarea name="" id="" rows="10" placeholder="Free revies here"></textarea>
  </div>



        <div class="">
            <input type="submit" value="Submit your review" class="btn-flat-border">
        </div>
    </div>
</div>

</body>
</html>