<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="class.scss">
    <title>HelloTechAcademy</title>
  </head>
  <body>

<div class="background">

<div class="main-container">
    <div class="overview-container">
        <img src="/website_images/maxwell2.png">
        <div class="overview">
            <h1>電磁気学B</h1>
            <p style="text-align: left">
            数々の履修生を恐怖に陥れてきた電子物理システム学科2年秋学期の鬼門<br>
            <br>
            まず始めに履修生を襲うわせぽちという摩訶不思議な呪術はまさに特級の名にふさわしい<br>
            <br>
            呪言師である教授が発する講義内容に恐れおののくがいい<br>
            <br>
            先人たちの古文書（過去問）を道しるべに単位を掴みとれ
            </p>
        </div>
    </div>

    <div class="light-detail-container">
        
        <div class="light-detail">
            <h2>科目区分</h2>
            <p>
            専門必修科目<br>
            C群
            </p>
        </div>
        <div class="light-detail">
            <h2>授業の時限</h2>
            <p>火曜2限</p>
        </div>
        <div class="light-detail">
            <h2>単位数</h2>
            <p>2単位</p>
        </div>
        <div class="light-detail">
            <h2>教授</h2>
            <p>宇高 勝之(Age 68)</p>
        </div>
    </div>
    <div class="title">
        <h1>授業の詳細情報</h1>
    </div>
    <div class="detail-container">
        <div class="detail-container-mini">
            <div class="detail">
                <h2>単位取得難易度</h2>
                <p>2.3</p>
            </div>
            <div class="detail">
              <h2>成績評価比率</h2>
              <p>試験 8:2 出席</p>
            </div>
        </div>
        <div class="detail-container-mini">
            <div class="detail">
                <h2>授業の面白さ</h2>
                <p>2.0</p>
            </div>
            <div class="detail">
                <h2>出席の有無</h2>
                <p>有</p>
            </div>
        </div>
        <div class="detail-container-mini">
            <div class="detail">
                <h2>単位取得率</h2>
                <p>68%</p>
            </div>
            <div class="detail">
                <h2>レビュー数</h2>
                <p>43</p>
            </div>
        </div>


    </div>

    <div class="review-container">
        <h1>レビュー</h1>
        <div class="review">
            <h2>ユーザーA</h2>
            <p>とても面白かったです</p>
        </div>
        <div class="review">
            <h2>ユーザーB</h2>
            <p>単位を落としました。</p>
        </div>
        <div class="review">
            <h2>ユーザーC</h2>
            <p>過去問げー</p>
        </div>
    </div>

</div>


</div>

</body>
</html>