// Place all the styles related to the class controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea{
    width: 48%;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    outline: 0;
    padding: 10px;
    border: 2px solid #222222;
  }

.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl03 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #222222;
	background: #ffffff;
    margin-bottom: 15px;
    width: 50%;
}
.cp_ipselect.cp_sl03::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #222222;
	pointer-events: none;
}
.cp_ipselect.cp_sl03 select {
	padding: 8px 38px 8px 8px;
	color: #222222;
}


.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 50px;
    transition: .4s;
    width: 70%;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }



  .background{
      background-image: url(/website_images/nishiwaseda-campus.png);
      background-size: cover;
      background-position: center 50%;
      text-align: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .form-container{
      background: rgba(192,192,192,0.45);
      width: 900px;
  }
  .form-container div{
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  ::placeholder{
      color: #444444;
  }

  .overview-container{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .overview-container img{
    width: 40%;
    height: 40%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px 0px 0px 0px;
  }
.overview{
  background-color: #ffffff;
  border-radius: 0px 20px 0px 0px;
}
  .overview-container div{
    font-size: 25px;
  }
.light-detail{
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.light-detail-container{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.detail-container{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom:1px solid #DDDDDD;
  background-color: #F5FFFA;
}
.detail-container-mini{
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 100px;
}
.detail{
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 4px gray;
}
.detail p{
  font-size: 40px;
}

.review-container{
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  padding: 20px;
}
.title{
  text-align: center;
  background-color: #F5FFFA;
  padding: 20px;
}

.main-container{
  background: rgba(192,192,192,0.3);
  padding: 15px;
}

h1{
  margin: 0;
}

h1 {
  position: relative;
  padding: 0.25em 0;
}
h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.review{
  border-bottom:1px solid rgba(192,192,192,0.7);
}


.detail:hover{
  box-shadow: 1px 1px 4px gray;
  background-color: #FFFAFA;
}

