// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #1b253a;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #67c5ff;
	outline: none;
}
.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }


  
  .background{
      background-image: url(/website_images/nishiwaseda-campus.png);
      background-size: cover;
      background-position: center 50%;
      text-align: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  input{
      font-size: 20px;
      width: 100%;
  }
  .form-container{
      background: rgba(192,192,192,0.45);
  }
  .form-container div{
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  ::placeholder{
      color: #444444;
  }