<div class="background">
    <div class="form-container">
        <div class="cp_iptxt">
            <h1>Sigun in Tuple-lab</h1>
        </div>
        <div class="cp_iptxt">
	        <label class="ef">
	        <input type="text" placeholder="Email">
            </label>
        </div>
          <div class="cp_iptxt">
    	    <label class="ef">
    	    <input type="text" placeholder="Password">	
            </label>
        </div>
            <div class="cp_iptxt">
            <input type="submit" value="Signin" class="btn-flat-border">
        </div>
    </div>
</div>